{% extends 'base.html.twig' %}

{% block title %}Hello PizzaController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Create a pizza</h1>

        <form action="{{ path('create_pizza') }}" method="post" id="pizza">
            <p>Name your pizza</p>
            <input type="text" name="name">
            <p>Select your sauce</p>
            <select name="sauce" form="pizza">
                {% for sauce in sauces %}
                    <option {% if loop.first %} selected {% endif %}" value="{{ sauce.id }}">{{ sauce.name  }}</option>
                {% endfor %}
            </select>
            <p>Select your toppings:</p>
            <select  name="topping1" form="pizza">
                {% for topping in toppings %}
                    <option  {% if loop.first %} selected {% endif %} value="{{ topping.id }}">{{ topping.name  }}</option>
                {% endfor %}
            </select>
            <select name="topping2" form="pizza" >
                {% for topping in toppings %}
                    <option  {% if loop.first %} selected {% endif %} value="{{ topping.id }}">{{ topping.name  }}</option>
                {% endfor %}
            </select>
            <select name="topping3" form="pizza">
                {% for topping in toppings %}
                    <option  {% if loop.first %} selected {% endif %} value="{{ topping.id }}">{{ topping.name  }}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <button type="submit"> Create a pizza </button>
        </form>


    </div>
{% endblock %}
